h1{
            color: green;
            background: blue;
        }
        #logo_img{
            width: 200px;
            height: 300px;
        }
        .form_input{
            border: 2px solid red;
        }